<header class="medium-fade">
  <div class="wrapper">
    <div id="logo" class="shadow">
      <h1>WORLD MACRO<img src="wmlogosymbol.png"></h1>
      <h2>WORLD MACRO</h2>
    </div>
  </div><!-- .wrapper -->

</header>
