<header class="medium-fade">
  <div class="wrapper">
    <div id="logo" class="shadow">

      <h2>RAILS WITH JQUERY</h2>
    </div>
  </div><!-- .wrapper -->
  <div id="navbar" class="light-fade">
    <div class="wrapper">
      <nav class="clearfix">
        <a href="/">Home</a><a href="/authors">Authors</a><a class="menu-icon">&#9776;</a>
      </nav>
    </div><!-- .wrapper -->
  </div><!-- #navbar -->

</header>
